.categories-cmp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 100%;
}

.category-card {
    position: relative;
}

.category-card:hover {
    cursor: pointer;
}

.categories-cmp .category-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: brightness(50%);
    transition: 0.4s;
}

.categories-cmp .category-card:hover img {
    filter: brightness(100%);
}

.categories-cmp .category-card h1 {
    position: absolute;
    top: 1rem;
    right: 0rem;

    margin: 0;
    margin-inline: 2rem;

    color: white;
    font-size: 2rem;
    font-family: Amatic-Regular;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.categories-cmp .category-card h1::after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background-color: white;
    margin-top: 0.5rem;
}


@media (max-width: 775px) {
    .categories-cmp {
        grid-template-columns: 1fr 1fr;
    }

    .categories-cmp .category-card h1 {
        font-size: 1.5rem;
        top: 0.5rem;
        right: 1rem;
    }
}