.connect {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-block: 2rem;
    margin-block-start: 3rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    font-family: Amatic-Bold;
}

.connect h1,
.connect p {
    margin: 0;
}

.connect .logo {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: Amatic-Bold;
}

.connect .logo img {
    max-height: 3rem;
    width: auto;

    margin: 0;
}

.connect h1 {
    font-size: 3rem;
}

.connect .connect-call {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.connect .connect-call a {
    display: flex;
    place-items: center;
}

.connect .connect-call:hover {
    cursor: pointer;
}

.connect .connect-call img {
    max-width: 1.4rem;
    height: auto;
}

.connect .connect-social {
    display: flex;
    place-items: center;
    gap: 1rem;
    margin-block-start: 1rem;
}

.connect .connect-social a {
    max-width: 2rem;
    max-height: 2rem;
}

.connect .connect-social img {
    background-color: var(--green1);
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
    padding: 0.2rem;
    transition: 0.4s;
}

.connect .connect-social img:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

.connect .connect-social .fb {
    padding: 0.5rem;
}