.our-specials-cmp {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.our-specials-cmp h1 {
    font-family: Amatic-Bold;
    font-size: 2rem;
    margin: 0;
}

.our-specials-cmp p {
    font-family: Noto-Thin;
    margin: 0;
}

.special-list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-block-start: 1rem;
}

.our-specials-cmp .special-item {
    display: flex;
    flex-direction: column;
    max-width: 25vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.our-specials-cmp .special-item .special-item-description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.our-specials-cmp .special-item p {
    text-align: justify;
}

.our-specials-cmp .special-item h2{
    font-family: Amatic-Bold;
    font-size: 1.5rem;
    margin: 0;
}

.our-specials-cmp img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
    transition: 0.4s;
}

.our-specials-cmp .special-item:hover img {
    filter: brightness(110%);
}

.our-specials-cmp .react-multiple-carousel__arrow {
    opacity: 0 !important;
}

.our-specials-cmp .special-item:hover .react-multiple-carousel__arrow {
    opacity: 1 !important;
}

@media (max-width: 600px) {
    .special-list {
        flex-direction: column;
        margin: auto;
    }

    .our-specials-cmp .special-item {
        max-width: 80vw;
    }

    .our-specials-cmp img {
        filter: brightness(100%);
    }

    .our-specials-cmp .react-multiple-carousel__arrow {
        opacity: 1 !important;
        top: 40%;
        scale: 1.5;
    }
}