.ctg {
    font-family: Amatic-Regular;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ctg h1 {
    font-family: Amatic-Bold;
    font-size: 2.2rem;
    margin: 0;
    margin-block-start: 2rem;
}

.ctg h2 {
    margin: 0;
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
}

.ctg p {
    font-family: Noto-Thin;
    margin: 0;
}

.ctg .ctg-disclaimer {
    font-family: Noto-Regular;
    font-size: 0.8rem;
}


.ctg .skill-slider {
    position: relative;
    max-width: 85vw;
    display: flex;
    gap: 1rem;
    padding-block: 0.5rem;
    background: linear-gradient(to left, rgb(237, 237, 237), transparent);
}

.ctg .skill-slider .item {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
}

.ctg .skill-slider img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 0.5rem;
    filter: brightness(110%);
}

.ctg .skill-slider h3 {
    margin: 0;
    font-family: Noto-Thin;
    font-size: 1rem;
}

.ctg .skill-slider .react-multiple-carousel__arrow--right {
    right: 2% !important;
    z-index: 10 !important;
}

.ctg .skill-slider .react-multiple-carousel__arrow--left {
    left: 2% !important;
    z-index: 10 !important;
}

