.gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.8rem;
    max-width: 100%;

    font-family: Amatic-Bold;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.gallery img:hover {
    cursor: pointer;
}

.gallery h1 {
    margin: 0;
    margin-block-start: 2rem;
}

.gallery p {
    font-family: Noto-Thin;
    margin: 0;
    font-size: 1rem;
}

.gallery-imgs {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-auto-rows: 17rem;
    grid-auto-flow: dense;
    gap: 0.4rem;
    overflow: hidden;
}

.gallery-imgs img:nth-child(1) {
    grid-area: span 2 / span 2;
}

.gallery-imgs img:nth-child(3n+1) {
    grid-row: span 2;
}

.gallery-imgs img:nth-child(3n+2) {
    grid-column: span 2;
}

.gallery-modal {
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.gallery-modal-content {
    max-width: 80%;
}

.gallery-modal .selected-img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border: 3px solid white;
}

.gallery-modal .selected-img:hover {
    cursor: default;
}

.gallery-modal-content button {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: 0.3s;
}

.gallery-modal-content button:hover {
    cursor: pointer;
    scale: 1.2;
}


@media (max-width: 450px) {

    .gallery-modal {
        top: 5%;
    }

    .gallery-imgs {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .gallery-imgs img:nth-child(1) {
        grid-area: unset;
    }
    
    .gallery-imgs img:nth-child(3n+1) {
        grid-row: unset;
        grid-column: span 2;
    }
    
    .gallery-imgs img:nth-child(3n+2) {
        grid-column: unset;
    }

}