.home-page {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  

@media (max-width: 775px) {

    .home-page {
        gap: 1.5rem;
    }
  
}