:root {
    --main-dark: #291f1f;

    --green1: #99d54b;
    --green1-dark: #85ba40;
    --green2: #18a572;
    --green2-dark: #148b60;
    --yellow: #eecc50;


    
    --dark-gray1: #2e2e2e;
    --dark-gray2: #3c3c3c;
    --dark-gray3: #505050;
    --dark-gray4: #727272;
    
    --light-gray1: #eaeaea;
    --light-gray2: #dadada;
    --light-gray3: #c3c3c3;
    --light-gray4: #adadad;

    /* --main-dark: #156157; */
    --main-light: #a6eeed;
}