:root {
    --green-dark: #00612f;
    --green-med: #549852;
    --green-light: #9ed073;

    --orange: #e77817;

    --main-dark: #291f1f;

    --dark-gray1: #2e2e2e;
    --dark-gray2: #3c3c3c;
    --dark-gray3: #505050;
    --dark-gray4: #727272;
    
    --light-gray1: #eaeaea;
    --light-gray2: #dadada;
    --light-gray3: #c3c3c3;
    --light-gray4: #adadad;
}